<a href="https://colab.research.google.com/github/jackqk/pandas-note/blob/master/Series_CRUD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series CRUD

In [0]:
import pandas as pd
import numpy as np

# 一、Creation

## 1.通过list创建

In [3]:
# index不是unique
g1 = pd.Series([10, 7, 1, 22], index=['1968', '1969', '1970', '1970'], name='George Songs')
g1

1968    10
1969     7
1970     1
1970    22
Name: George Songs, dtype: int64

## 2.通过dict创建

In [4]:

# 值显示了一个1970，因为dict本身就是不能重复的。
g2 = pd.Series({'1968':10, '1969':7, '1970':1, '1970':22})
g2

1968    10
1969     7
1970    22
dtype: int64

# 二、Reading / Selecting

In [5]:
# index不是unique
g1 = pd.Series([10, 7, 1, 22], index=['1968', '1969', '1970', '1970'], name='George Songs')
g1

1968    10
1969     7
1970     1
1970    22
Name: George Songs, dtype: int64

## index

In [6]:
# 只有一个结果：返回scalar value
g1['1968']

10

In [7]:
# 多个结果：返回Series
g1['1970']

1970     1
1970    22
Name: George Songs, dtype: int64

## loc、iloc

In [8]:
# 其实就是index查询
g1.loc['1968']

10

In [9]:
# iloc表示位置，可以支持切片
print(g1.iloc[0])
# 切片返回Series
g1.iloc[0:2]

10

1968    10
1969     7
Name: George Songs, dtype: int64

## iterator

In [10]:
for item in g1:
  print(item)

10
7
1
22

In [11]:
for key, value in g1.iteritems():
  print(str(key), ' = ', str(value))

1968  =  10
1969  =  7
1970  =  1
1970  =  22

# 三、Updating、Append

In [20]:
# index不是unique
g = pd.Series([10, 7, 1, 22], index=['1968', '1969', '1970', '1970'], name='George Songs')
g

1968    10
1969     7
1970     1
1970    22
Name: George Songs, dtype: int64

## 赋值语句插入、修改
当index不存在，则赋值语句为修改<br>
当index存在，则赋值语句为修改

In [13]:
#修改
g['1969'] = 6
g

1968    10
1969     6
1970     1
1970    22
Name: George Songs, dtype: int64

In [14]:
# 修改出现的问题
# 全部都改：index方法
g['1970'] = 2
display(g)
print()
#修改特定某个：iloc
g.iloc[3] = 22
g

1968    10
1969     6
1970     2
1970     2
Name: George Songs, dtype: int64

1968    10
1969     6
1970     2
1970    22
Name: George Songs, dtype: int64

In [15]:
#插入
g['1973'] = 11
g

1968    10
1969     6
1970     2
1970    22
1973    11
Name: George Songs, dtype: int64

## append
不修改原始数据，返回新Series

In [16]:
g_new = g.append(pd.Series({'1974':9}))
display(g_new)
print()
display(g)

1968    10
1969     6
1970     2
1970    22
1973    11
1974     9
dtype: int64

1968    10
1969     6
1970     2
1970    22
1973    11
Name: George Songs, dtype: int64

## at, iat

In [17]:
# at：增加、修改都可以
g_new = g.at['1980']=33
display(g_new)
print()
g

33

1968    10
1969     6
1970     2
1970    22
1973    11
1980    33
Name: George Songs, dtype: int64

# 四、删除

In [25]:
# index不是unique
g = pd.Series([10, 7, 1, 22], index=['1968', '1969', '1970', '1970'], name='George Songs')
g

1968    10
1969     7
1970     1
1970    22
Name: George Songs, dtype: int64

In [26]:
# when index is unique
del g['1968']
g

1969     7
1970     1
1970    22
Name: George Songs, dtype: int64

In [27]:
del g['1970']
g

1969    7
Name: George Songs, dtype: int64