<a href="https://colab.research.google.com/github/jackqk/pandas-note/blob/master/Series_Method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Series Method**
iterator, overloaded operation, reset index, statistics, convert type, deal with none

## **Iteration**

In [0]:
import pandas as pd
song_66 = pd.Series([3, None, 11, 9], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
song_66

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [0]:
# 方法一：遍历value
for value in song_66:
  print(value)

3.0
nan
11.0
9.0

In [0]:
# 方法二：遍历index
for idx in song_66.keys():
  print(idx)

George
Ringo
John
Paul

In [0]:
# 方法三：同时遍历index、vlue
for idx, value in song_66.iteritems():
  print(idx, value)

George 3.0
Ringo nan
John 11.0
Paul 9.0

# **Overloaded operations**

In [0]:
import pandas as pd
song_66 = pd.Series([3, None, 11, 9], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
display(song_66)
print()
song_69 = pd.Series([18, 22, 7, 5], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
display(song_69)

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

George    18
Ringo     22
John       7
Paul       5
Name: Counts, dtype: int64

In [0]:
song_66 + 2

George     5.0
Ringo      NaN
John      13.0
Paul      11.0
Name: Counts, dtype: float64

In [0]:
#与python区别
#如：
p = pd.Series([1,2,3])
display(p*2)
l = [1,2,3]
#list * 2 只是增加了个数
print(l * 2)
#若要完成series的效果，如吓
[2*x for x in l]

0    2
1    4
2    6
dtype: int64

[1, 2, 3, 1, 2, 3]

[2, 4, 6]

In [0]:
#以index为红线，找到对方。找不到就填NaN
song_66 - song_69

George   -15.0
Ringo      NaN
John       4.0
Paul       4.0
Name: Counts, dtype: float64

In [0]:
song_66 * song_69

George    54.0
Ringo      NaN
John      77.0
Paul      45.0
Name: Counts, dtype: float64

# **Reset Index**

In [0]:
import pandas as pd
song_66 = pd.Series([3, None, 11, 9], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
song_66

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

## 增加主键

In [0]:
# 增加一个主键，保留以前index
print(type(song_66.reset_index()))
song_66.reset_index()

<class 'pandas.core.frame.DataFrame'>

    index  Counts
0  George     3.0
1   Ringo     NaN
2    John    11.0
3    Paul     9.0

In [0]:
# 增加一个主键，删除以前index
song_66.reset_index(drop=True)

0     3.0
1     NaN
2    11.0
3     9.0
Name: Counts, dtype: float64

In [0]:
# 建立有特定顺序的索引
song_66.reindex(['Billy', 'Eric', 'George', 'Yoko'], fill_value=11)

Billy     11.0
Eric      11.0
George     3.0
Yoko      11.0
Name: Counts, dtype: float64

## 修改index name

In [0]:
#修改索引名：指定索引名
song_66.rename({'Ringo':'Richard'})

George      3.0
Richard     NaN
John       11.0
Paul        9.0
Name: Counts, dtype: float64

In [0]:
#修改索引名：指定function
song_66.rename(lambda x:x.lower())

george     3.0
ringo      NaN
john      11.0
paul       9.0
Name: Counts, dtype: float64

# **count**

In [0]:
import pandas as pd
scores = pd.Series([67.3, 100, 96.7, None, 100], index=['Ringo', 'Paul', 'George', 'Peter', 'Billy'], name='test2')
scores

Ringo      67.3
Paul      100.0
George     96.7
Peter       NaN
Billy     100.0
Name: test2, dtype: float64

In [0]:
# return non-null entries
# peter 不算
scores.count()

4

In [0]:
# 先将分数排序，再统计有多少人。（类似中学成绩单，100分有几个，99分有几个，60分以下有几个，但这里是确切的数据）
scores.value_counts()

100.0    2
96.7     1
67.3     1
Name: test2, dtype: int64

In [0]:
# 返回unique的数
print(scores.unique())  #nan也会返回
print(scores.nunique()) #不将nan计算在内

[ 67.3 100.   96.7   nan]
3

In [0]:
display(scores.duplicated())
print()
#Billy is True, and drop_duplicates default keep first element
scores.drop_duplicates()

Ringo     False
Paul      False
George    False
Peter     False
Billy      True
Name: test2, dtype: bool

Ringo      67.3
Paul      100.0
George     96.7
Peter       NaN
Name: test2, dtype: float64

# **统计（Statistics）**
大多数都是忽略NaN，若你不忽略，结果如下：<br>


```python
>>> songs_66.sum(skipna=False)
nan
```

In [0]:
import pandas as pd
song_66 = pd.Series([3, None, 11, 9], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
song_66

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

## 求和、平均值、中位数、quantile

In [0]:
# 求和
song_66.sum()

23.0

In [0]:
#平均值
song_66.mean()

7.666666666666667

In [0]:
#中位数，可预测异常值
song_66.median()

9.0

In [0]:
# 不知道什么玩意，这个应该和中位数相近，说明没问题
print(song_66.quantile())
#下面两个不知道什么玩意
print(song_66.quantile(0.1))
print(song_66.quantile(0.9))
song_66.quantile(0)

9.0
4.2
10.6

3.0

In [0]:
#describe函数表示上面总和
song_66.describe()

count     3.000000
mean      7.666667
std       4.163332
min       3.000000
25%       6.000000
50%       9.000000
75%      10.000000
max      11.000000
Name: Counts, dtype: float64

In [0]:
song_66.describe(percentiles=[.05, .1, .2])

count     3.000000
mean      7.666667
std       4.163332
min       3.000000
5%        3.600000
10%       4.200000
20%       5.400000
50%       9.000000
max      11.000000
Name: Counts, dtype: float64

## 求最大值、最小值以及对应索引

In [0]:
song_66.max()

11.0

In [0]:
song_66.idxmax()

'John'

In [0]:
song_66.min()

3.0

In [0]:
song_66.idxmin()

'George'

## 其他
不懂的找wikipedia

In [0]:
# 方差
song_66.var()

17.333333333333336

In [0]:
# 标准差
song_66.std()

4.163331998932266

In [0]:
# mean absolute deviation
song_66.mad()

3.1111111111111107

In [0]:
# skew
song_66.skew()

-1.293342780733397

In [0]:
# Kurtosis
song_66.kurt()

nan

In [0]:
# Covariance
song_66.cov(song_69)

-27.0

In [0]:
# Pearson Correlation Coefficient
song_66.corr(song_69)

-0.9264557470151468

# **Convert Type**

In [0]:
import pandas as pd
song_66 = pd.Series([3, None, 11, 9], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
song_66

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [0]:
#四舍五入，默认两位，将原来integer 改为float
song_66.round()

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [0]:
# 小于80改为80，大于90改为90
song_66.loc['Paul'] = 108
song_66.clip(lower=80, upper=90)

George    80.0
Ringo      NaN
John      80.0
Paul      90.0
Name: Counts, dtype: float64

In [0]:
# 显示修改
display(song_66.astype(str))
print()
#结果为nan，说明类型改变了
song_66.astype(str).max()

George      3.0
Ringo       nan
John       11.0
Paul      108.0
Name: Counts, dtype: object

'nan'

## 报错情况处理

In [0]:
#报错：因为有nan
pd.to_numeric(song_66.apply(str))

ValueError: ignored

In [0]:
# 解决
pd.to_numeric(song_66.astype(str), errors='coerce')

George      3.0
Ringo       NaN
John       11.0
Paul      108.0
Name: Counts, dtype: float64

In [0]:
#报错
pd.to_datetime(pd.Series(['Sep 7, 2001', '9/8/2001', '9-9-2001', '10th of September 2001','Once de Septiembre 2001']))

ValueError: ignored

In [0]:
pd.to_datetime(pd.Series(['Sep 7, 2001','9/8/2001', '9-9-2001', '10th of September 2001','Once de Septiembre 2001']), errors='coerce')

0   2001-09-07
1   2001-09-08
2   2001-09-09
3   2001-09-10
4          NaT
dtype: datetime64[ns]

# **解决None**

In [0]:
import pandas as pd
song_66 = pd.Series([3, None, 11, 9], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
song_66

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [0]:
# 查看非NaN值有哪些
display(song_66.notnull())
print()
song_66[song_66.notnull()]

George     True
Ringo     False
John       True
Paul       True
Name: Counts, dtype: bool

George     3.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [0]:
# 查看NaN值
song_66[song_66.isnull()]

Ringo   NaN
Name: Counts, dtype: float64

In [0]:
# 处理方式1：给NaN一个值
song_66.fillna(-11)

George     3.0
Ringo    -11.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [0]:
# 处理方式2：drop
song_66.dropna()

George     3.0
John      11.0
Paul       9.0
Name: Counts, dtype: float64

# **Appending, Combining, and joining two Series**

In [0]:
import pandas as pd
song_66 = pd.Series([3, None, 11, 9], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
display(song_66)
print()
song_69 = pd.Series([18, 22, 7, 5], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
display(song_69)

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

George    18
Ringo     22
John       7
Paul       5
Name: Counts, dtype: int64

In [0]:
# append：相同index不冲突
song_66.append(song_69)

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
George    18.0
Ringo     22.0
John       7.0
Paul       5.0
Name: Counts, dtype: float64

In [0]:
# append：相同index会冲突
song_66.append(song_69, verify_integrity=True)

ValueError: ignored

In [0]:
# combine：元素按某个fun进行操作
def avg(x, y):
  return (x + y) / 2.0

song_66.fillna(0).combine(song_69, avg)

George    18.0
Ringo     22.0
John       7.0
Paul       5.0
Name: Counts, dtype: float64

In [0]:
# update：song_66的值被song_69替换了
song_66.update(song_69)
song_66

George    18.0
Ringo     22.0
John       7.0
Paul       5.0
Name: Counts, dtype: float64

In [0]:
# repeate：所有item都复制一次
song_69.repeat(2)

George    18
George    18
Ringo     22
Ringo     22
John       7
John       7
Paul       5
Paul       5
Name: Counts, dtype: int64

# **Sorting**

In [0]:
import pandas as pd
song_66 = pd.Series([3, 5, 11, 9], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
song_66

George     3
Ringo      5
John      11
Paul       9
Name: Counts, dtype: int64

In [0]:
# 按index进行sort 
song_66.sort_index(ascending=True)

George     3
John      11
Paul       9
Ringo      5
Name: Counts, dtype: int64

In [0]:
# 按value进行sort
song_66.sort_values(ascending=False)

John      11
Paul       9
Ringo      5
George     3
Name: Counts, dtype: int64

In [0]:
#song_66从始至终都没有改变过
song_66

George     3
Ringo      5
John      11
Paul       9
Name: Counts, dtype: int64

# **Applying a function**
map函数，指定对Series每个元素做特定的操作。

In [0]:
import pandas as pd
song_66 = pd.Series([3, None, 11, 9], index=['George', 'Ringo', 'John', 'Paul'], name='Counts')
display(song_66)

George     3.0
Ringo      NaN
John      11.0
Paul       9.0
Name: Counts, dtype: float64

In [0]:
def format_song(x):
  if x == 1:
    template = '{} song'
  else:
    template = '{} songs'
  return template.format(x)

In [0]:
song_66.map(format_song)

George     3.0 songs
Ringo      nan songs
John      11.0 songs
Paul       9.0 songs
Name: Counts, dtype: object

# **String**
可以对Series中的String直接用python进行操作

In [0]:
names = pd.Series(['George', 'John', 'Paul'])

In [0]:
names.str.lower()

0    george
1      john
2      paul
dtype: object

In [0]:
names.str.findall('o')

0    [o]
1    [o]
2     []
dtype: object